.sign-up-main {
    width: 100%;
    background-position: 100% top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-size: 100%;
      height: 100vh;
      width: 100%;
      /* background: linear-gradient(
        309deg,
        rgb(104, 155, 155) 34%,
        rgb(116, 155, 96) 80%); */
}

.tbd-h1 {
    color: rgb(24, 114, 24);
    padding-left: 35px;
    font: 900 60px/1.3 Crimson Text, Helvetica, sans-serif;
    text-align: center;
}

.sign-up-form-div {
    width: 100%;
    margin-bottom: 30px;
}

.sign-up-form {
    width: 750px;
    padding-left: 250px;
    margin-top: 30px;
}

/* .input-group-text {
    background-color: rgb(24, 114, 24);
    color: white;
    font-size: 18px;
    width: 120px;
    margin-bottom: 40px;
} */

.name-info {
    height: 30px;
}

.player-info {
    margin-bottom: 13px;
}

.pairing-choices-h1 {
    color: rgb(24, 114, 24);
    padding-left: 10px;
    font: 900 30px/1.3 Crimson Text, Helvetica, sans-serif;
    text-align: center;
}

.pair-first-name {
    margin-bottom: 13px;
}

/* .submit-signup-btn {
    color:rgb(24, 114, 24)
   
} */

/* .btn-secondary {
    background-color:rgb(48, 116, 116);
    color: white;
    margin-left: 180px;
    width: 170px;
    padding-bottom: 30px;
} */


@media only screen and (max-width: 1080px) {
    .sign-up-form {
      margin-top: 40px;
      display: flex;
      justify-content:flex-end;
    }

   
    
    }

    @media only screen and (max-width: 770px) {
        .sign-up-form {
          margin-top: 40px;
          display: flex;
          justify-content:flex-end;
          padding-right: 100px;
        }
    
       
        
        }

        @media only screen and (max-width: 540px) {
            .sign-up-form {
              margin-top: 40px;
              display: flex;
              justify-content:flex-end;
              padding-right: 150px;
            }
        
           
            
            }


