.sign-up-main {
    width: 100%;
    background-position: 100% top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-size: 100%;
      height: 100vh;
      width: 100%;
      /* background: linear-gradient(
        309deg,
        rgb(104, 155, 155) 34%,
        rgb(116, 155, 96) 80%); */
}

.tbd-h1 {
    color: rgb(24, 114, 24);
    padding-left: 35px;
    font: 900 60px/1.3 Crimson Text, Helvetica, sans-serif;
    text-align: center;
}

.sign-up-form-div {
    width: 100%;
    margin-bottom: 30px;
}

.sign-up-form {
    width: 750px;
    padding-left: 250px;
    margin-top: 30px;
}



.name-info {
    height: 30px;
}

.player-info {
    margin-bottom: 13px;
}

.pairing-choices-h1 {
    color: rgb(24, 114, 24);
    padding-left: 10px;
    font: 900 30px/1.3 Crimson Text, Helvetica, sans-serif;
    text-align: center;
}

.pair-first-name {
    margin-bottom: 13px;
}




@media only screen and (max-width: 980px) {
    

.input-group-info {
    width: 400px;
}

   
    
    }

    @media only screen and (max-width: 770px) {
        
        .input-group-info {
            width: 250px;
            padding-right: 40%;
        }
        .sign-up-form {
            width: 300px;
          
            
        }
       
        
        }

        @media only screen and (max-width: 540px) {
            .input-group-info {
                width: 200px;
            }
            .sign-up-form {
                width: 250px;
              
                
            }
           
        
           
            
            }


