.login-page {
    
    background: linear-gradient(
  309deg,
  rgb(72, 70, 77) 34%,
  rgb(94, 129, 76) 80%);
}

.faux-nav {
    height: 75px;
    background: linear-gradient(
  309deg,
  rgb(72, 70, 77) 34%,
  rgb(94, 129, 76) 80%);
}

