


/* below keeps hamburger in place on smaller screens */
.navbar-toggler {
    position: absolute;
    background-color: rgb(17, 1, 32);
    color: white;
    border: 5px solid;
    opacity: .2;
}

.long-logo-link {
    width: 80px;
   
}

.links {
    color: white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.links-res {
    display: flex;  
  flex-wrap: wrap;
}

.nav {
    background-color: rgb(54, 129, 129);
}

.long-logo {
    width: 40px;
    height: 20px;
}