.about-main {
    width: 100%;
    background-position: 100% top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-size: 100%;
      height: 100vh;
      width: 100%;
      background-image: url('../../assets/images/about-para.jpg');

      
}

.about-title {
    color: rgb(25, 68, 12);
    font-family: 'Big Shoulders Inline Display', cursive;
    font-size: 45px;
    font: 900;
    text-align: center;
    height: 35px;
    margin-left: 40px;
    margin-top: 20px;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around; 
    height: 380px;
    margin-top: 20px;
}


.about-para {
    
   
    background-position: 80% top;
   
    margin-top: 120px;
    padding: 10px;
    text-align: left;
    border-radius: 20px 20px;
    
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-size: 115%;
    height: 100vh;
    

    font-size: 25px;
    color: black;
  font-weight: 1000;
  font-family: 'Kavivanar', cursive;
    
}


.cbo-about {
    margin-top: 105px;
    border: 5px solid rgb(17, 1, 32);
    border-radius: 40px 20px;
}

.cbo-about-div {
    width: 750px;
}

.second {
    margin-left: 35px;
    Margin-right: 30px;
}


@media only screen and (max-width: 980px) {

    .about-main {
        width: 100%;
        background-position: 100% top;
        background-attachment: fixed;
        background-repeat: no-repeat;
        overflow-x: hidden;
        background-size: 100%;
          height: 100vh;
          width: 100%;
          background-image: url('../../assets/images/about-para.jpg');
          
    }

    .cbo-about-div {
        margin-top: 50px;
        width: 550px;
    }
    .about-para {
        margin-top: 160px;
    }
  }

  @media only screen and (max-width: 600px) {

    .about-main {
        width: 100%;
        background-position: 100% top;
        background-attachment: fixed;
        background-repeat: no-repeat;
        overflow-x: hidden;
        background-size: 100%;
          height: 100vh;
          width: 100%;
          background-image: url('../../assets/images/about-para.jpg');
          
    }

    .cbo-about-div {
        margin-top: 220px;
        width: 350px;
    }
    .about-para {
        margin-top: 260px;
    }
  }

  @media only screen and (max-width: 500px) {

    .about-main {
        background-color: white;
        width: 100%;
        background-position: 100% top;
        background-attachment: fixed;
        background-repeat: no-repeat;
        overflow-x: hidden;
        background-size: 100%;
          height: 100vh;
          width: 100%;
          background-image: url('../../assets/images/about-para.jpg');
          
    }

    .cbo-about-div {
        margin-top: 450px;
    }
    .about-para {
        margin-top: 260px;
    }
  }









































/* .cbo-about-div {
    margin-top: 10px;
} */

/* .nav-res {
    margin-bottom: 10px;
    margin-top: 10px;
} */

/* .title-res {
    margin-bottom: 20px;
} */

/* .cbo-res {
    margin-top: 190px;
} */




