.card-div {
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.row {
    margin-left: 60px;
}

.the-logo-img {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.year-2020-title {
    text-align: center;
    padding-bottom: 20px;
    font-size: 60px;
  font-weight: 700;
  font: 400 100px/1.3 Crimson Text, Helvetica, sans-serif;
  color: rgb(25, 128, 51);
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0);
}


@media only screen and (max-width: 600px) {

    .year-2020-title {
        margin-left: 100px;
        width: 400px;
    }
    
      
    }