.btn-div {
    display: flex;
    justify-content: center;
}

.flip-btn {
    width: 300px;
    color: white;
   margin-bottom: 100px;
   margin-top: 5px;
   background-color: rgb(17, 1, 32);
   border: 5px solid rgb(17, 1, 32);
}

.flip-btn:focus {
    background-color: rgb(17, 1, 32);
    border: 5px solid rgb(17, 1, 32);
}

.flip-btn:hover {
    background-color: rgb(17, 1, 32);
    border: 5px solid rgb(17, 1, 32);
}

