.hero {
    width: 100%;
    height: 600px;
    /* background-color: rgb(189, 194, 194); */
    /* background-image: url('../Gifs/CBO-home.jpg'); */
}

.home-main {
    
    background-color: rgb(82, 189, 189);
}

.cbo-logo {
    width: 400px;
    height: 500px;
    margin-left: 300px;
}

.carousel {
    width: 100%;
    height: 600px;
    /* background-color: rgb(189, 194, 194); */
    /* background-image: url('../Gifs/CBO-home.jpg'); */
}